.column {
  background: ghostwhite;
  width: 300px;
  height: auto;
  margin: 10vh 3vw 0 3vw;
  padding: 5px;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.empty {
      height: 90px;
    }
  }

  & .add-card__btn {
    position: relative;
    top: 0;
  }

}

.column-title {
  display: block;
  width: 20%;
  top: 0;
  position: relative;
}

.column__overlay {
  background-color: transparent;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: transparent;
  transform: scale(0);
  z-index: 5;

  &.active {
    transform: scale(1);
  }
}