*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: auto;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 20px;
  color: #fff;
}

#root {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}


.ant-card-body {
  padding: 0;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  transform: scale(0);
  z-index: 5;

  &.active {
    transform: scale(1);
  }
}