*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: auto;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 20px;
  color: #fff;
}

#root {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}