*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: auto;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 20px;
  color: #fff;
}

#root {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}


.ant-card-body {
  padding: 0;
}

.container {
  background: transparent;
}

.page-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 75vh;
  justify-self: center;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}