.update-btn,
.update-btn.active 
{
  transform: scale(0);
  position: absolute;
  top: 0;
  right: 0;
}

.title-update__container {
  position: relative;
  width: auto;
  height: auto;
  &:hover{
    .update-btn {
      transform: scale(1);
    }
    .update-btn.active {
      transform: scale(0);
    }
  }
}


.board__container.active {
  .title-update__container:hover{
    .update-btn {
      transform: scale(0);
    }
    .update-btn.active {
      transform: scale(0);
    }
  }
}

.title-update__area{
  position: relative;
  width: 100%;
  height: auto;
  min-height: 80px;
  resize: vertical;
  z-index: 10;
  display: block;
  margin: 0 auto;
}

.save-btn {
  position: absolute;    
  z-index: 10;
  left: 0;
  top: 100px;
}

.task-title {
  display:block;
  height: auto;
  cursor: grab;
  word-wrap: break-word;
}

.title-update__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  transform: scale(0);
  z-index: 5;

  &.active {
    transform: scale(1);
  }
}

.delete-btn {
  position: absolute;
  left: 300px;
  top: 40px;
  z-index: 10;
}

.opencard-btn {
  position: absolute;
  left: 300px;
  top: 0px;
  z-index: 10;
}